h1.title= title

	if currentUser
		p You are logged in as a #{currentUser.username}
		hr
		a(href='/create-message') Create a new message
		hr
		a(href='/log-out') Log out
	else
		form(method='POST', action='')
			div.form-group
				label(for='email') Email:
				input#username.form-control(type='text' placeholder='email' name='email' required='true' )
			div.form-group
				label(for='password') Password:
				input#pw.form-control(type='password' placeholder='password' name='password' required='true' )
			button.btn.btn-primary(type='submit') Login
		br
		div
			| Not registered yet? 
			a(href='/signup') Sign Up